<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新标签页</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/newtab.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="js/vue.min.js"></script>
    <script src="element-ui/lib/index.js"></script>
</head>
<body>
<div id="app">
    <div class="wrap">
        <div class="header">
            <h1 class="logo">Search</h1>
            <a target="_blank" href="https://github.com/phicomm-frontend/chromePlugin"><i class="fa github fa-heart" aria-hidden="true"></i></a>
            <div v-cloak class="project right-select">
                <span class="projectIcon"><i style="font-size: 20px;color:#409EFF" :class="projectClass"></i></span>
                <el-select v-model="project" placeholder="请选择" @change="projectChange">
                    <el-option
                            v-for="item in selectType"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                        <span style="float: left"><i style="width:26px;padding: 0 2px;font-size: 20px;margin-right: 15px;color:#409EFF" :class="item.class"></i></span>
                        <span>{{ item.label }}</span>
                    </el-option>
                </el-select>
            </div>
        </div>
        <div class="search-area">
            <div class="search-box clearfloat" style="position:relative;display:none;">
                <div class="search-logo">
                    <a id="baidu-logo" href="http://d.baidu.com/index.php?tn=sitesowang">
                        <img id="image" src=""
                             border=0 width=100 style="margin-top:5px;">
                    </a>
                    <a id="triangle" class="selectUp triangle"></a>
                </div>
                <ul id="tabs" class="tabs">
                    <li class="text"><img src="images/baidu.png" border=0 width=100 height=35 alt=""></li>
                    <li class="text"><img src="images/googlelogo.png" alt="" border=0 width=100></li>
                </ul>
                <div id="search" class="search">
                    <form name="f" action=" http://www.baidu.com/s" target="_blank">
                        <input type="text" class="input" name="wd" id="kw" maxlength="100" autocomplete="off" style="font-size: 15px;">
                        <input type="submit" class="button" id="su" value="百度一下">
                    </form>
                </div>
                <div id="google-search" class="search" style="display:none">
                    <form name="f" action="http://www.google.com/search" target="_blank">
                        <input type="text" class="input" name="q" id="q" maxlength="100" autocomplete="on">
                        <input type="submit" class="button" name="sa" id="sa" value="搜索">
                    </form>
                </div>
                <ul id="dropDown" class="dropDown"></ul>
            </div>
        </div>
        <div class="main-area">
            <div class="source">
                <div class="source-navbar">
                    <div class="source-selector">
                        <div class="curr">
                            <img class="icon source-icon" src="images/dog.png">
                            <div class="title" style="color: rgb(202, 96, 0);">常用推荐</div>
                        </div>
                    </div>
                </div>
                <div class="entry-list">
                    <div class="nav-inner">
                        <div class="inside-nav">
                            <!--<h3>内部常用</h3>-->
                            <ul>
                                <!--<li>-->
                                    <!--<a href="http://www.phicomm.com/cn/" target="_Blank">-->
                                        <!--<div class="logo">-->
                                            <!--<img src="images/logo.png" style="width:85px;padding-top:20px;height: auto" alt="">-->
                                        <!--</div>-->
                                        <!--<span class="title">斐讯官网</span>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <li>
                                    <a href="https://www.google.com/" target="_Blank">
                                        <div class="logo">
                                            <img src="images/google.jpg" alt="">
                                        </div>
                                        <span class="title">Google</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://fanyi.baidu.com/?aldtype=16047#auto/zh" target="_Blank">
                                        <div class="logo">
                                            <img src="images/fanyi.png" alt="">
                                        </div>
                                        <span class="title">百度翻译</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://cn.vuejs.org/" target="_Blank">
                                        <div class="logo">
                                            <img src="images/vue.png" style="height: auto" alt="">
                                        </div>
                                        <span class="title">Vue</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://router.vuejs.org/zh/" target="_Blank">
                                        <div class="logo">
                                            <img src="images/vue.png" alt="">
                                        </div>
                                        <span class="title">Vue Router</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://vuex.vuejs.org/zh/guide/" target="_Blank">
                                        <div class="logo">
                                            <img src="images/vue.png" alt="">
                                        </div>
                                        <span class="title">Vuex</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://vux.li/" target="_Blank">
                                        <div class="logo">
                                            <img src="images/vux.png" style="height: auto;" alt="">
                                        </div>
                                        <span class="title">vux</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://element-cn.eleme.io/#/zh-CN" target="_Blank">
                                        <div class="logo">
                                            <img src="images/element.svg" style="width: 40px;height: auto;" alt="">
                                        </div>
                                        <span class="title">Element UI</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://react.docschina.org/" target="_Blank">
                                        <div class="logo">
                                            <img src="images/react.svg" style="width: 50px;height: auto;" alt="">
                                        </div>
                                        <span class="title">React</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://dvajs.com/guide/" target="_Blank">
                                        <div class="logo">
                                            <img src="images/react.svg" style="width: 50px;height: auto;" alt="">

                                        </div>
                                        <span class="title">dva</span>
                                    </a></li>
                                <li>
                                    <a href="https://ant.design/index-cn" target="_Blank">
                                        <div class="logo">
                                            <img src="images/antd.svg" style="width: 60px;height:auto;" alt="">
                                        </div>
                                        <span class="title">Antd</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.runoob.com/" target="_Blank">
                                        <div class="logo">
                                            <img src="images/cai.jpg" style="width: 60px;height: auto;" alt="">
                                        </div>
                                        <span class="title">菜鸟教程</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.imooc.com/" target="_Blank">
                                        <div class="logo">
                                            <img src="images/imooc.jpeg" style="height: auto;" alt="">
                                        </div>
                                        <span class="title">慕课网</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.w3school.com.cn/" target="_Blank">
                                        <div class="logo">
                                            <img src="images/w3c.png" style="height: auto" alt="">
                                        </div>
                                        <span class="title">W3school</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.webpackjs.com/guides/getting-started/" target="_Blank">
                                        <div class="logo">
                                            <img src="images/webpack.svg" alt="">
                                        </div>
                                        <span class="title">Webpack</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://app.zeplin.io/login.html" target="_Blank">
                                        <div class="logo">
                                            <img src="images/zeplin-icon.png" alt="">
                                        </div>
                                        <span class="title">Zeplin</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://pan.baidu.com/disk/home?#/all?&vmode=list" target="_Blank">
                                        <div class="logo">
                                            <img src="images/wangpan.jpeg" style="width: 62px;height: auto" alt="">
                                        </div>
                                        <span class="title">百度网盘</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/" target="_Blank">
                                        <div class="logo">
                                            <img src="images/github.png" style="width:55px;height: auto;" alt="">
                                        </div>
                                        <span class="title">Github</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="outside-nav">
                            <!--<h3>外部常用：</h3>-->
                            <ul>
                                <!--<li>-->
                                    <!--<a href="https://www.zhihu.com/" target="_Blank">-->
                                        <!--<div class="logo">-->
                                            <!--<img src="images/zhihu.jpg" alt="">-->
                                        <!--</div>-->
                                        <!--<span class="title">知乎</span>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="https://www.cnblogs.com/" target="_Blank">-->
                                        <!--<div class="logo">-->
                                            <!--<img src="images/blog.gif" style="width: 70px;height: auto;" alt="">-->
                                        <!--</div>-->
                                        <!--<span class="title">博客园</span>-->
                                    <!--</a>-->
                                <!--</li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="app_wrap">
                    <img width="30px" height="30px" style="border-radius:2px;"src="https://e-gold-cdn.xitu.io/static/github.png?9140c37" alt="">
                    <el-select v-model="option" placeholder="请选择" @change="optionChange">
                        <el-option
                                v-for="item in options"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                    <el-select v-model="type" placeholder="请选择" @change="typeChange">
                        <el-option
                                v-for="item in types"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                    <el-select v-model="week" placeholder="请选择" @change="weekChange">
                        <el-option
                                v-for="item in weeks"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                    <div class="right-select">
                        <el-select v-model="value" placeholder="请选择" filterable @change="valueChange">
                            <el-option
                                    v-for="item in datas"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </div>
                </div>
                <div class="wrap-content"
                     v-loading="loading"
                     element-loading-text="拼命加载中"
                     element-loading-spinner="el-icon-loading"
                     element-loading-background="rgb(255, 255, 255)">
                    <ul>
                        <li @click="jump(item.url)" v-for="item in tables">
                            <div class="activeImg">
                                <img width="48px" height="48px" :src="item.owner.avatar">
                            </div>
                            <div v-cloak class="active">
                                <div  style="padding: 25px 0 10px 0;line-height:1.2;color: #0366d6;font-weight: 600;font-size: 16px">{{item.username + " / " + item.reponame}}</div>
                                <div class="des"> {{item.description}}</div>
                                <div style="" class="repo-meta">
                                    <span><i class="fa fa-star"></i> {{item.starCount}}</span>
                                    <span><i class="fa fa-code-fork"></i> {{item.forkCount}}</span>
                                    <span><i class="fa fa-circle" :style="{color:item.langColor}"></i> {{item.lang}}</span>
                                </div>
                            </div>
                        </li>
                        <li style="width: 100%;height: 50px;text-align: center;font-size: 1.2rem;font-weight: bold;padding-top: 20px"><span style="width: 100%;color: #c2c5cd;font-weight: normal;" v-text="tips"></span></li>
                    </ul>
                </div>
            </div>
        </div>
        <el-dialog
                title="欢迎使用PhiTab浏览器插件"
                :close-on-click-modal="false"
                :visible.sync="dialogVisible"
                width="50rem">
            <p class="selectTopic">请选择你感兴趣的分类</p>
            <ul style="display: flex;margin: 30px 0">
                <li class='project-li' v-for="item in selectType" @click="majorChange(item)">
                    <div class="project-column">
                        <div style="padding-top: 20px"><i style="font-size: 5rem;color:rgb(235, 158, 5)" :class="item.class"></i></div>
                        <div style="padding: 20px;">{{item.label}}</div>
                    </div>
                </li>
            </ul>
            <span slot="footer" class="dialog-footer">
                <el-button @click="cancel">取 消</el-button>
            </span>
        </el-dialog>
    </div>
</div>
<script src="js/jquery-1.8.3.js"></script>
<script src="po.js"></script>
</body>
</html>